{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block body %}

<table class="table table-striped table-condenseda table-bordered">
  <caption>阶段目标名：{{ goalName }}</caption>
    <thead>
      <tr>
         <th>KR名</th>
         <th>status</th>
      </tr>
   </thead>
   <tbody>
     {% for KR in KRs %}
        <tr>
           <td>{{ KR.KRsInfo.name }}</td>
           <td>
             {% if KR.KRsInfo.selfScore == -1 %}
               未评
             {% elseif KR.KRsInfo.othersScore == -1%}
               自评分： {{ KR.KRsInfo.selfScore }}<br/>                  
               {% for otherScore in KR.othersScore %}
                 {% if otherScore.score == -1 %}
                   {{ otherScore.userName }}：未评<br/>  
                 {% else %}
                   {{ otherScore.userName }} : {{ otherScore.score }}<br/>
                {% endif %}
              {% endfor %}
            {% else %}
              自评分： {{ KR.KRsInfo.selfScore }} <br/>
              他评分：{{ KR.KRsInfo.othersScore }}
            {% endif %}
          </td>
      </tr>
     {% endfor %}
  </tbody>
</table>
{% endblock %}

