{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['custombundle/js/object/modal/index.js']) %}

{% set modalSize = 'large' %}

{% block title %}{% if goal.id|default(null) %}{{ '编辑子目标'|trans }}{% else %}{{ '添加子目标'|trans }}{% endif %}{% endblock %}

{% block body %}
  <div id="goal-manage-form" class="form-horizontal">
    {% if goals|default() > 3 %}
      <div class="col-md-8 controls">
        <p>子目标数量已达最大值</p>
      </div>
    {% else %}
      <label class="col-md-2 control-label" for="goalName">{{ '名称'|trans }}</label>
      <div class="col-md-8 controls">
        <input class="form-control" id="goalName" type="text" value="{{ goal.name|default('') }}"
               tabindex="1">
      </div>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </div>
{% endblock %}

{% block footer %}
  {% if goal.id|default(null) %}
    <button id="deleteGoal" class="btn btn-default pull-left" tabindex="5" data-url="{{ path('user_deleteGoal', {id:goal.userId, goalId:goal.id}) }}">
      <i class="glyphicon glyphicon-trash"></i>{{ '删除'|trans }}
    </button>
    <button class="btn btn-default" data-dismiss="modal">取消</button>
    <button class="btn btn-primary" data-submiting-text="{{ '正在提交'|trans }}" id="editNewGoal" data-url="{{ path('user_editGoal', {id:goal.userId, goalId:goal.id}) }}">保存</button>
  {% else %}
    <button class="btn btn-default" data-dismiss="modal">取消</button>
    {% if goals|default() < 4 %}
      <button class="btn btn-primary" data-submiting-text="{{ '正在提交'|trans }}" id="addNewGoal" data-url="{{ path('user_addGoal', {id:goal.userId, sectionGoalId:goal.sectionGoalId}) }}">添加</button>
    {% endif %}
  {% endif %}
{% endblock %}