{% extends 'layout.html.twig' %}

{% do script(['libs/jquery-validation.js', 'libs/bootstrap-datetimepicker.js', 'custombundle/js/meeting/meeting-record/index.js']) %}

{% block content %}
  <div class="panel panel-default panel-page panel-create-course">
    <div class="panel-heading">
      <span class="pull-right">
        <a id="create-meeting-record" href="#modal" data-toggle="modal" data-url="{{ path('create_my_meetingRoom_record') }}" class="btn btn-info btn-sm">
        <span class="es-icon es-icon-anonymous-iconfont"></span> 新建预约</a>
      </span>
      我的预约
    </div>
  <div class="table-responsive panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><span class="text-lg">{{'会议标题'|trans}}</span></th>
          <th><span class="text-lg">{{'会议室'|trans}}</span></th>
          <th><span class="text-lg">{{'起止时间'|trans}}</span></th>
          <th><span class="text-lg">{{'操作'|trans}}</span></th>
        </tr>
      </thead>
      <tbody>
      {% if records %}
        {% for record in records %}
          {% set meetingRoom = data('MeetingRoom',{meetingRoomId: record.meetingRoomId}) %}
          {#{% set meetingRoom = meetingRooms[record.meetingRoomId] %}#}
          <tr>
            <td>{{ record.name|default('--') }}</td>
            <td>{{ meetingRoom.name|default('--') }}</td>
            <td>{{ record.startTime|date('Y-m-d H:i')|default('--') }}<br>{{ record.endTime|date('Y-m-d H:i')|default('--') }}</td>
            {% if record.startTime|default() >= date('now').timestamp %}
              <td>
                <input class="btn btn-default btn-sm js-update-button" href="#modal" data-toggle="modal" data-url="{{ path('update_my_meetingRoom_record', {recordId: record.id}) }}" type="button" value="修改">
                <button class="btn btn-default btn-sm js-delete-button" data-url="{{ path('delete_my_meetingRoom_record', {recordId: record.id}) }}">{{'删除'|trans}}</button>
              </td>

            {% else %}
              <td>已结束 </td>
            {% endif %}

          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="20">
            <div class="empty">{{'暂无记录'|trans}}</div>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  {{ web_macro.paginator(paginator) }}
  </div>
{% endblock %}
